<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <style>
        .draggable-div {
            position: absolute;
            width:10px;
            height: 10px;
            background: red;
        }
    </style>
<div id="homework-container">
    {{> "./dnd-content.hbs"}}
</div>
</body>
</html>
